#subscribe{position:relative;margin:20px 0 -30px;padding:15px 0;background:rgba(0, 0, 0, .05)}
#subscribe .subscribe-info {overflow:hidden;margin:-2px 0 0;line-height:18px;font-size:1.0em}
#subscribe .subscribe-info div {float:left;height:32px;line-height:35px;margin:0 5px 0 0;font-size:2.9em}
#subscribe .subscribe-input {overflow:hidden}
#subscribe .subscribe-input .email, #subscribe .subscribe-input .pass {float:left;overflow:hidden;transition:all ease-in-out .3s}
#subscribe .subscribe-input .email {width:100%}
#subscribe .subscribe-input .pass {overflow:hidden;width:0;}
#subscribe .subscribe-input .email.show-pass{width:70%}
#subscribe .subscribe-input .pass.show-pass{width:30%;padding:0 0 0 20px}
#subscribe .form-control, #subscribe .subscribe-button .btn {height:34px}
#subscribe .visible-lg {display:inline !important}
#subscribe .alert{padding:0}
@media (max-width:767px){
	#subscribe .subscribe-input {margin:10px 0}
}